body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	background-color: #E8E6E1;
	width: 100%;
	max-width:700px;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
}

#header {
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#FFFFFF;
	height: 43px;
	background-image: url('toolbar.png');
	background-repeat: repeat-x;
	padding-top: 5px;
	text-align: center;
}

.ptitle {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#006699;
	height: 24px;
	background-image: url('listGroup.png');
	background-repeat: repeat-x;
	padding-top: 5px;
	text-align: center;
}

.stitle {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#006699;
	height: 24px;
	padding-top: 5px;
	text-align: center;
}

.ban1 {
	padding-left: 5px;
	background-color: #006699;
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#FFFFFF;
	height: 20px;
	padding-top: 5px;
	text-align: left;
}

.pbloc {
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	border: 1px solid #999999;
}